<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	
	<extension
         point="com.bmc.arsys.studio.commonui.typeaction">
      <type
            modelTypeProvider="com.bmc.arsys.studio.model.type.providers.ActiveLinkTypeProvider">
         <actionProvider
               class="io.vasilenko.devstudio.packager.action.PackingActionProvider">
         </actionProvider>
      </type>
      <type
            modelTypeProvider="com.bmc.arsys.studio.model.type.providers.FilterTypeProvider">
         <actionProvider
               class="io.vasilenko.devstudio.packager.action.PackingActionProvider">
         </actionProvider>
      </type>
      <type
            modelTypeProvider="com.bmc.arsys.studio.model.type.providers.FormTypeProvider">
         <actionProvider
               class="io.vasilenko.devstudio.packager.action.PackingActionProvider">
         </actionProvider>
      </type>
      <type
            modelTypeProvider="com.bmc.arsys.studio.model.type.providers.EscalationTypeProvider">
         <actionProvider
               class="io.vasilenko.devstudio.packager.action.PackingActionProvider">
         </actionProvider>
      </type>
      <type
            modelTypeProvider="com.bmc.arsys.studio.model.type.providers.FilterGuideTypeProvider">
         <actionProvider
               class="io.vasilenko.devstudio.packager.action.PackingActionProvider">
         </actionProvider>
      </type>
      <type
            modelTypeProvider="com.bmc.arsys.studio.model.type.providers.ActiveLinkGuideTypeProvider">
         <actionProvider
               class="io.vasilenko.devstudio.packager.action.PackingActionProvider">
         </actionProvider>
      </type>
      
      <type
            modelTypeProvider="com.bmc.arsys.studio.model.type.providers.WebServiceTypeProvider">
         <actionProvider
               class="io.vasilenko.devstudio.packager.action.PackingActionProvider">
         </actionProvider>
      </type>
      <type
            modelTypeProvider="com.bmc.arsys.studio.model.type.providers.MenuTypeProvider">
         <actionProvider
               class="io.vasilenko.devstudio.packager.action.PackingActionProvider">
         </actionProvider>
      </type>
      <type
            modelTypeProvider="com.bmc.arsys.studio.model.type.providers.ImageTypeProvider">
         <actionProvider
               class="io.vasilenko.devstudio.packager.action.PackingActionProvider">
         </actionProvider>
      </type>
      <type
            modelTypeProvider="com.bmc.arsys.studio.model.type.providers.PackingListTypeProvider">
         <actionProvider
               class="io.vasilenko.devstudio.packager.action.PackingActionProvider">
         </actionProvider>
      </type>
   </extension>
	
    <extension
            point="org.eclipse.ui.menus">
        <menuContribution
                locationURI="toolbar:org.eclipse.ui.main.toolbar">
            <toolbar
                    id="packager.toolbar">
                <command
                        commandId="packager.command.addToPackingList"
                        icon="icons/package.png"
                        label="Add To Packing List"
                        style="push">

                    <visibleWhen
                            checkEnabled="false">
                        <or>
                            <with
                                    variable="activePart">
                                <or>
                                    <instanceof
                                            value="com.bmc.arsys.studio.ui.editors.form.FormEditor">
                                    </instanceof>
                                    <instanceof
                                            value="com.bmc.arsys.studio.ui.editors.workflow.WorkflowEditorBase">
                                    </instanceof>
                                    <instanceof
                                            value="com.bmc.arsys.studio.ui.editors.webservices.WebServicesEditor">
                                    </instanceof>
                                    <instanceof
                                            value="com.bmc.arsys.studio.ui.editors.menu.MenuEditor">
                                    </instanceof>
                                    <instanceof
                                            value="com.bmc.arsys.studio.ui.editors.guide.GuideEditor">
                                    </instanceof>
                                    <instanceof
                                            value="com.bmc.arsys.studio.ui.editors.images.ImageEditor">
                                    </instanceof>
                                    <instanceof
                                            value="com.bmc.arsys.studio.ui.editors.packinglist.PackingListEditor">
                                    </instanceof>
                                </or>
                            </with>
                            <with
                                    variable="selection">
                                <count
                                        value="+">
                                </count>
                                <iterate>
                                    <or>
                                        <instanceof
                                                value="com.bmc.arsys.studio.model.item.FormItem">
                                        </instanceof>
                                        <instanceof
                                                value="com.bmc.arsys.studio.model.item.ActiveLinkItem">
                                        </instanceof>
                                        <instanceof
                                                value="com.bmc.arsys.studio.model.item.ActiveLinkGuideItem">
                                        </instanceof>
                                        <instanceof
                                                value="com.bmc.arsys.studio.model.item.FilterItem">
                                        </instanceof>
                                        <instanceof
                                                value="com.bmc.arsys.studio.model.item.FilterGuideItem">
                                        </instanceof>
                                        <instanceof
                                                value="com.bmc.arsys.studio.model.item.MenuItem">
                                        </instanceof>
                                        <instanceof
                                                value="com.bmc.arsys.studio.model.item.EscalationItem">
                                        </instanceof>
                                        <instanceof
                                                value="com.bmc.arsys.studio.model.item.WebServiceItem">
                                        </instanceof>
                                        <instanceof
                                                value="com.bmc.arsys.studio.model.item.ImageItem">
                                        </instanceof>
                                        <instanceof
                                                value="com.bmc.arsys.studio.model.item.PackingListItem">
                                        </instanceof>
                                    </or>
                                </iterate>
                            </with>
                        </or>
                    </visibleWhen>

                </command>
            </toolbar>
        </menuContribution>
    </extension>
    
    <extension
            point="org.eclipse.ui.commands">
        <command
                defaultHandler="io.vasilenko.devstudio.packager.handler.PackingHandler"
                id="packager.command.addToPackingList"
                name="Add To Packing List">
        </command>
    </extension>

</plugin>
